{{#partial "title" }}
    Create Hero
{{/partial}}

{{#partial "content"}}
      <br>
      <div class="container">
           <div class="row">
               <div class="col-sm">
                   {{#if squads }}
                       Create a Hero
                       <form action="/heroes" method="post">
                           <div class="form-group">
                               <input type="number" class="form-control" id="squadId" name="squadId" value="{{squads.id}}">
                           </div>
                           <div class="form-group">
                               <label for="">Hero Name</label>
                               <input type="text" class="form-control" name="heroname" id="heroname">
                           </div>
                           <div class="form-group">
                               <label for="">Hero Age</label>
                               <input type="text" class="form-control" name="heroage" id="heroage">
                           </div>
                           <div class="form-group">
                               <label for="">Hero Special Power</label>
                               <input type="text" class="form-control" name="heroPower" id="heroPower">
                           </div>
                           <div class="form-group">
                               <label for="">Hero Weakness</label>
                               <input type="text" class="form-control" name="heroweakness" id="heroweakness">
                           </div>
                           <div class="form-group">
                               <input type="submit" name="save" id="save" class="btn btn-primary btn-block" value="Submit Hero">
                           </div>
                           <div class="form-group">
                               <input type="reset" name="reset" id="reset" class="btn btn-danger btn-block" value="Reset Hero">
                           </div>
                       </form>
                   {{/if}}

               </div>

           </div>
      </div>

{{/partial}}

{{#partial "footer"}}
    <p><a href="/">Back Home</a></p>

{{/partial}}

{{>layout.hbs}}