{{#partial "title" }}
    Create Hero
{{/partial}}

{{#partial "content"}}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <form action="/squadcreate" method="post">
                    <h4>Create a Squad</h4>
                    <div class="form-group">
                        <label>Enter Squad Name</label>
                        <input type="text" name="squadname" id="squadName" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Enter Squad Size</label>
                        <input type="text" name="squadsize" id="squadSize" class="form-control">
                    </div>
                    <div class="form-group">
                        <textarea style="width: 100%" placeholder="Enter Squad Cause" name="squadcause" id="squadCause" cols="30" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Go!</button>
                    </div>
                    <div class="form-group">
                        <input type="reset" class="btn btn-danger btn-block" name="reset" id="reset" value="Reset Squad">
                    </div>
                </form>

            </div>

        </div>
    </div>

{{/partial}}

{{#partial "footer"}}
    <p><a href="/">Back Home</a></p>
    <p><a href="/createhero">Create Hero</a></p>

{{/partial}}

{{>layout.hbs}}