{{#partial "title" }}
    Homepage
{{/partial}}

{{#partial "content"}}
    <br>
    <div class="container">
         <div class="row">
<!--             welcome-->
              <div class="col-sm">
                  <p>
                  <h2>Hero</h2>: one who displays courage and self-sacrifice for the greater good
                  </p>
                  <a href="/squadform" class="btn btn-primary" style="margin: 20px;">Create Squad</a>
                  <br>
                  <a href="/createhero" class="btn btn-success" style="margin: 20px;">Create Hero</a>
                  <br>
                  <a href="/squadlist" class="btn btn-warning" style="margin: 20pxl;">Squad List</a>
              </div>


         </div>

    </div>

{{/partial}}
{{#partial "footer"}}
    <p><a href="https://josephbill.github.io/">Joseph Bill</a></p>

{{/partial}}

{{>layout.hbs}}