{{#partial "content"}}

    {{#if editSquad}}
        <h1>Edit this Squad!</h1>
        <form action="/squads/{{editSquad.id}}/update" method="post">
            <label for="content">Edit this squad's content</label>
            <div class="form-group">
                <label>Enter Squad Name</label>
                <input type="text" name="squadname" id="squadName" class="form-control" value="{{editSquad.name}}">
            </div>
            <div class="form-group">
                <label>Enter Squad Size</label>
                <input type="text" name="squadsize" id="squadSize" class="form-control" value="{{editSquad.max_size}}">
            </div>
            <div class="form-group">
                <textarea style="width: 100%"  placeholder="Enter Squad Cause" name="squadcause" id="squadCause" cols="30" rows="5">{{editSquad.cause}}</textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-warning btn-block">Update Squad!</button>
            </div>
            <div class="form-group">
                <input type="reset" class="btn btn-danger btn-block" name="reset" id="reset" value="Reset Squad">
            </div>
        </form>

    {{/if}}


{{/partial}}

{{> layout.hbs}}