{{#partial "content"}}

    <h1>Squad list!</h1>

    {{#if squads}} <!--if posts exist, then -->
    <div>

    {{#each squads }} <!--loop-->
       <div class="card">
           <a href="">
               <h6 style="padding: 10px;">Squad Name: {{ name }}</h6> <!--show-->
           </a>
           <p style="padding: 10px;">Maximum Size: {{max_size}}</p>
           <p style="padding: 10px;">Cause: {{cause}}</p>
           <a href="/squads/{{id}}/createhero" class="btn btn-success"><p>Add Hero to Squad</p></a>
           <a href="/squads/{{id}}/update" class="btn btn-primary">Edit this Squad</a>
           <a href="/squads/{{id}}/delete" class="btn btn-danger">Delete this Squad</a>

           <ul class="list-group list-group-flush">
               Squad Heroes
    {{#each heroes }}
        <div class="card" style="color: #fff; background-color: #000;">
              <h6 style="padding:10px;">Name: {{name}}</h6>
              <p style="padding: 5px;">Age: {{age}}</p>
              <p style="padding: 5px;">Power: {{special_power}}</p>
              <p style="padding: 5px;">Weakness: {{weakness}}</p>
        </div>

               {{/each}}
           </ul>
       </div>

    {{/each}}
    </div>
    <br>
    {{else}} <!--no posts!-->
    <p>No Squads Added!</p>
    {{/if}}

    <a href="/squadform">
        <p>Add a new squad:</p>
    </a>
    <br>
    <a href="/">
        <p>Back Home:</p>
    </a>


{{/partial}}

{{> layout.hbs}}